# Задание 1. 
### Средние буквы в слове

In [146]:

word = input ('введите слово: ')

# если число четное:

if (len (word) % 2) == 0:
    
    a = int (len (word) / 2)
    print (word [a-1 : a+1])
    
# если число не четное:
    
else:
    a = int (len (word) / 2)
    print (word [a])

введите слово: qwerty
er

# Задание 2. 
### Сумма введенных до 0 чисел

In [148]:

number = int ( input ('введите число: '))

number_sum = 0

while number != 0:
    number_sum = number_sum + number
    number = int ( input ('введите число: '))
    
print (number_sum)

введите число: 5
введите число: 5
введите число: 3
введите число: 2
введите число: 0
15

# Задание 3. 
### MVP dating-сервиса

In [149]:

boys  = sorted ( ['Рома', 'Миша', 'Жора', 'Гриша'] )
girls = sorted ( ['Маша', 'Алена', 'Фекла', 'Елена'] )

if len(boys)==len(girls):
    print("Идеальные пары:")
    print('')
    
    couples_tuple = zip(boys, girls)
    
    for couples in couples_tuple:
        print(f'{couples[0]} \t и   {couples[1]}')
else:
    print ('Внимание, кто-то может остаться без пары!')

Идеальные пары:

Гриша 	 и   Алена
Жора 	 и   Елена
Миша 	 и   Маша
Рома 	 и   Фекла

# Задание 4. 
### Средняя температура за период в Цельсиях

In [150]:

countries_temp_Far = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

print ('Средняя температура в странах:')
print('')

#работаем с элементами списка с индексом [1] (это вложенный список)
for countries_temp_Cel in countries_temp_Far:
    
    # определяем среднее значение в Фар
    average_temp = (sum (countries_temp_Cel [1])) / len (countries_temp_Cel[1])
    
    # переводим в Цельсии
    average_temp = round(((average_temp - 32) / 1.8),1)

    print (f'{countries_temp_Cel[0][0:]} - {average_temp} С')

Средняя температура в странах:

Thailand - 23.9 С
Germany - 13.8 С
Russia - 3.7 С
Poland - 12.0 С

# Задание 5. 
### Среднее значение просмотров на пользователя

In [151]:

stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

# задаем переменные
views=0
users=[]

for a in stream:
    
    # делим в цикле элементы списка на вложенные элементы
    stream_splited = (a[0:]).split(',')
    
    # складываем в цикле 3й элемент  каждого элемента списка (сумма просмотров)
    views = int (stream_splited[2]) + views
    
    # складываем в цикле уникальных юзеров
    if stream_splited[1] not in users:
        users.append(stream_splited[1])
        
print (f'Количество просмотров: {views}')
print(f'Количество уникальных пользователей: {len(users)}')

print (f'Среднее количество просмотров на уникального пользователя:  {views / len(users)}')

Количество просмотров: 93
Количество уникальных пользователей: 4
Среднее количество просмотров на уникального пользователя:  23.25

# Задание 6. 
### Поиск повторяющихся чисел

In [152]:

numbers = input ('введите число: ').split() 

result = []

for a in numbers:
    
    if a not in result and numbers.count('a') >= 2:
        
        result.append(a)

print (' '.join (result))

введите число: 5 5 4 7